# Introduction to Python Programming

In [1]:
print("Hello World")

Hello World

In [4]:
var1 ="Diamond'a De Naal Toll Da"
var2 = "Jinna Tera Bhaar Goriye"
var3 = "Gabru Ta Vairi Nu Vi Mitha Bolda"
var4 = "Ni Tu Ta Fer Jatt Da Pyaar Goriye"
var5 = "Dekh Bollywood Vich Jinne Khan Ne"
var6 = "Ohna Vich Behnda Sardar Goriye"
var7 = "Gabru Ta Vairi Naal Vi Mitha Bolda"
var8 = "Ni Tu Ta Fer Jatt Da Pyar Goriye"

print(var1)
print(var2)
print(var3)
print(var4)
print(var5)
print(var6)
print(var7)
print(var8)

Diamond'a De Naal Toll Da
Jinna Tera Bhaar Goriye
Gabru Ta Vairi Nu Vi Mitha Bolda
Ni Tu Ta Fer Jatt Da Pyaar Goriye
Dekh Bollywood Vich Jinne Khan Ne
Ohna Vich Behnda Sardar Goriye
Gabru Ta Vairi Naal Vi Mitha Bolda
Ni Tu Ta Fer Jatt Da Pyar Goriye

In [19]:
x=10
y=10
a=10
b=10
c=10
print("x: ",id(x))
print("y: ",id(y))
print("a: ",id(a))
print("b: ",id(b))
print("c: ",id(c))

X:  140730663543472
Y:  140730663543472
a:  140730663543472
b:  140730663543472
c:  140730663543472

In [20]:
def test_1():
    a=10
    print(a)
    return
test_1()

10

In [24]:
a="hello"
def test_1():
    a=20
    b=10
    print(a*b)
    return
print(a)
test_1()

hello
200

In [29]:
a,b,c,d = "Ae","Kya","Bolti","Tu"
print(a,b,c,d)
print(type(a))

Ae Kya Bolti Tu
<class 'str'>

In [30]:
x=5
y=3
print(x//y)

1

In [35]:
x = str(input("Enter val for x:"))
print(x)
print(type(x))

Enter val for x:hello
hello
<class 'str'>

# Working With Strings

In [7]:
str1 = "      Diamond'a De Naal Toll Da      "
print(str1)
print(type(str1))
print(f"Converting the case of the string: {str1.lower()}")
print(f"Converting the case of the string: {str1.upper()}")
print(f"Converting the case of the string: {str1.title()}")
print(f"Removing Blank Spaces: {str1.strip()}")
str2=str1[0:10]
print(f"Slicing the string results in: {str2}")

      Diamond'a De Naal Toll Da
<class 'str'>
Converting the case of the string:       diamond'a de naal toll da
Converting the case of the string:       DIAMOND'A DE NAAL TOLL DA
Converting the case of the string:       Diamond'A De Naal Toll Da
Removing Blank Spaces: Diamond'a De Naal Toll Da
Slicing the string results in:       Diam

In [14]:
str3 = "Hello {}, This is a {} of {} formatting".format("user","program","string")
print(str3)
str4 = "Hello {2}, This is a {1} of {0} formatting".format("user","program","string")
print(str4)
str5 = "Hello {s}, This is a {a} of {d} formatting".format(a="user",s="program",d="string")
print(str5)
print(f"{str1} {str3}")

Hello user, This is a program of string formatting
Hello string, This is a program of user formatting
Hello program, This is a user of string formatting
      Diamond'a De Naal Toll Da       Hello user, This is a program of string formatting

In [22]:
str6 ="FACE"
print(str6[-2:-4:-1])

CA

# Working With Lists

In [51]:
l1 = ["Kya", 38, "Bolti", 452.45, "Public"]
print(l1)
print(l1[0][1:2])
print(l1[2][::-1])
print("Deleting element on 0th index")
del l1[0]
print(l1)
l2 = ["hello", "Guys", "Chai", "Peelo"]
l1 = l1+l2
print(l1)
l1.insert(5, 0)
print(l1)
del l1[-1]
print(l1)
l1.insert(2, "hello")
print(l1)
l1.remove("hello")
print(l1)
l2.sort()
print(l2)
str7 = "Deleting element on 0th index"
l3 = str7.split()
print(type(l3))

['Kya', 38, 'Bolti', 452.45, 'Public']
y
itloB
Deleting element on 0th index
[38, 'Bolti', 452.45, 'Public']
[38, 'Bolti', 452.45, 'Public', 'hello', 'Guys', 'Chai', 'Peelo']
[38, 'Bolti', 452.45, 'Public', 'hello', 0, 'Guys', 'Chai', 'Peelo']
[38, 'Bolti', 452.45, 'Public', 'hello', 0, 'Guys', 'Chai']
[38, 'Bolti', 'hello', 452.45, 'Public', 'hello', 0, 'Guys', 'Chai']
[38, 'Bolti', 452.45, 'Public', 'hello', 0, 'Guys', 'Chai']
['Chai', 'Guys', 'Peelo', 'hello']
<class 'list'>

# Working With Tuples

t1 = ("Are", "Alive", "?")
print(t1)
print(type(t1))
t1[0][0:1]
print(t1[0:1])
t2 = (1, 2, 3, 4, 5)
t2=t2*2
count = t2.count(5)
print(count)
index = t2.index(5)
print(index)

# Working With Dictionay

In [20]:
d1 = {'Name': 'Charlie',
               'Age' : 35,
               'City': 'Los Angeles'
        } 
print(d1)
print(type(d1))
print(d1['Name'])
print(d1.keys())
print(d1.items())
d1.update({'Name' : "Mr. Vercetti"})
print(d1['Name'])
d1.pop('Age')
print(d1)
d1 = list(d1)
print(type(d1))
print(d1)

{'Name': 'Charlie', 'Age': 35, 'City': 'Los Angeles'}
<class 'dict'>
Charlie
dict_keys(['Name', 'Age', 'City'])
dict_items([('Name', 'Charlie'), ('Age', 35), ('City', 'Los Angeles')])
Mr. Vercetti
{'Name': 'Mr. Vercetti', 'City': 'Los Angeles'}
<class 'list'>
['Name', 'City']

# Working With Sets

In [111]:
s1 = {"Asus", "MSI", "ASROCK", "Asus", "Apple"}
print(s1)
s2 = {"AMD", "Intel", "Snapdragon"}
print(s2)
print(s1.union(s2))

{'Apple', 'Asus', 'ASROCK', 'MSI'}
{'Intel', 'Snapdragon', 'AMD'}
{'Apple', 'Intel', 'ASROCK', 'Snapdragon', 'Asus', 'AMD', 'MSI'}

# Working With Built-in Funtions

In [10]:
s1 = {"Asus", "MSI", "ASROCK", "Asus", "Apple"}
print(len(s1))
str1 = "150 Rs. Dega"
print(len(str1))
d1 = {'Name': 'Charlie',
               'Age' : 35,
               'City': 'Los Angeles'
        } 
sorted(d1)
l1 = [1865,36,655,241]
print(sorted(l1))
print(sum(l1))
print(max(l1))
print(min(l1))
dir(list)

4
12
[36, 241, 655, 1865]
2797
1865
36

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# Type Casting

In [21]:
n = 15
print(n)
n = float(n)
print(type(n))
print(n)
n = str(n)
print(type(n))
print(n)
f = 15.68
print(type(f))
print(f)
f = int(f)
print(type(f))
print(f)

15
<class 'float'>
15.0
<class 'str'>
15.0
<class 'float'>
15.68
<class 'int'>
15

# Functions

In [28]:
def sub_num(n1,n2):
    result = n1 - n2
    return result
print(sub_num(234,23))
print(sub_num(n2=23,n1=234))

211
211

# Control Statements

In [35]:
import random
def conditional_control_structures():
    print("Conditional Control Structures")
    x = random.randrange(0,100,5)
    y = random.randrange(0,100,5)
    z = random.randrange(0,100,5)
    print("Value of X,Y,Z are:",x,y,z)
    if x>y or x>z:
        print(x,"is the largest")
    elif x<y:
        print(y,"is the largest")
    else:
        print(z,"is the largest")

def loop_structures():
    print("Loop Structures")
    x = random.randrange(0,100,5)
    
    print("Value of X is:",x)
    for i in range(x,10,-10):
        print(i,end=" ")
    print("")

    y = random.randrange(0,100,5)
    print("Value of Y is:",y)
    while(y>10):
        print(y,end=" ")
        y-=10
    print("")

def break_statement():
    print("Break Statement")
    for i in range(0,10):
        print("Value of i is:",i)
        break

def continue_statement():
    print("Continue Statement")
    for i in range(0,10):
        if i==5:
            continue
        else:
            print(i, end=" ")
    print("")

def pass_statement():
    print("Pass Statement")
    str = "Hi"
    for i in str:
        if i =='i':
            print("o")
            pass
        print(i)
        
conditional_control_structures()
print("")
loop_structures()
print("")
break_statement()
print("")
continue_statement()
print("")
pass_statement()

Conditional Control Structures
Value of X,Y,Z are: 75 40 85
75 is the largest

Loop Structures
Value of X is: 90
90 80 70 60 50 40 30 20
Value of Y is: 85
85 75 65 55 45 35 25 15

Break Statement
Value of i is: 0

Continue Statement
0 1 2 3 4 6 7 8 9

Pass Statement
H
o
i